{% extends 'user_temp/user_profile.html' %}


{% load crispy_forms_tags %} 



         

            {% block profile %} 
            <!-- <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="" alt="image....."><span class="font-weight-bold">{{users.first_name}}</span><span class="text-black-50">{{users.email}}</span><span> </span></div> -->
            
            <div class="  col-md-6 ">

              <div class="card mb-4 bg-light border-0">
                <div class="card-body shadow-lg p-3 mb-5 mt-5 bg-body rounded mt-5">
                  
                
                  <div style="color: red;">
                  
                    {% for messag in messages %}
                        <h6 class="text-center">{{messag}}</h6>
                    {%endfor%}
                  </div>
                  <form    method="POST" action="" enctype="multipart/form-data"  class="mt-5">
                    {% csrf_token  %}
                    {{ form.as_p }}
                    
                      
                       <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-share-alt"></span>
                          UPDATE
                        </button>
                      </div> 


                      
                  </form>
               
                </div>
              </div>
              </div>
           

             {% endblock  %}
   