{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title >E-BIKE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<!-- login -->




    <link rel="apple-touch-icon" href="{% static 'user_css/assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'user_css/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user_css/assets/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'user_css/assets/css/custom.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'user_css/customiz_css/ebike.css' %}"> -->
    <link rel="stylesheet" href="{% static 'user_css/customiz_css/cart.css' %}">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">



    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

   
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
   

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'user_css/assets/css/fontawesome.min.css' %}">

     
  
      <!-- Slick -->
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'user_css/assets/css/slick.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'user_css/assets/css/slick-theme.css' %}"> -->



      
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">ebike@gmail.com</a>
                    <!-- <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">+91-9645640108</a> -->
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav> 
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow ">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand  logo h1 align-self-center " style="color: rgb(32, 30, 30); font-family: IM FELL Great Primer SC;"   href="#">
                E-BIKE
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:Shop' %}">Bikes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Contact</a>
                        </li>
                       
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <!-- <div class="input-group">
                            
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div> -->
                    </div> 
                    {% if 'username' not in request.session %} 
                    <a class="nav-icon d-none d-lg-inline" href="{% url 'user:user_signin' %}" data-bs-toggle="modal" data-bs-target="#templatemo_search" style="text-decoration: none;">
                        Login/Register
                    </a>
                    {% endif %}
                    {% if 'username' in request.session %} 
                    <a class="nav-icon d-none d-lg-inline" href="{% url 'user:logout_user'%}" data-bs-toggle="modal" data-bs-target="#templatemo_search" style="text-decoration: none;">
                        Logout
                    </a>
                    {% endif %}
                    <a class="nav-icon position-relative text-decoration-none" href="{% url 'Cartapp:cart' %}">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark" id="count"></span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url 'user:user_profile' %}">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>
                    <!-- <a class="nav-icon position-relative text-decoration-none" href="usersignin">
                        <button style="border: none;">signup</button>
                        
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="logout-user">
                        
                        <button style="border: none;" >Logout</button>
                    </a>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="vendor/">
                        
                        <button  style="border: none;">Vendors</button>
                    </a> -->

                  
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    
    {% block content %} 




   

   


  
    <header>
        <!-- Intro settings -->
        <style>
          /* Default height for small devices */
          #intro-example {
            height: 400px;
          }
      
          /* Height for devices larger than 992px */
          @media (min-width: 992px) {
            #intro-example {
              height: 600px;
            }
          }
        </style>
      


      <section>


      <!-- Start Banner Hero -->
    
    <!-- End Banner Hero -->



      </section>
      
      
        <!-- Background image -->
       

       
         <div id="intro-example" class="p-5 text-center bg-image"
          style="background-image: url('https://cdn.pixabay.com/photo/2014/07/31/23/10/biker-407123__480.jpg');">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3" style=" font-family: IM FELL Great Primer SC;">Buy Your Dream Bike With E-BIKE</h1>
              
                <a class="btn btn-outline-light btn-lg m-2" href="{% url 'user:Shop' %}"
                  target="" role="button">Explore Now</a>
              </div>
            </div>
          </div>
        </div> 
  
        <!-- Background image -->
      </header>









    <!-- Start Categories of The Month -->
    <section class="container py-5 mt-5  shadow-lg p-3 mb-5 bg-body rounded ">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1 " style="color: rgb(16, 15, 15); font-family: IM FELL Great Primer SC;" >Categories of The Month</h1>
                <p>
                   
                </p>
            </div>
        </div>


       
        <div class="row">
            {% for items in category %}
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'user:category_filter' items.id %}"><img src="{{items.image.url}}" style="height: 35vh;" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{items.category_name}}</h5>
                <p class="text-center"><a class=" btn btn-outline-success" href="{% url 'user:category_filter' items.id %}">Explore Now</a></p>
            </div>

            {% endfor %}



            <!-- <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div> -->
        </div>
    </section>
    <!-- End Categories of The Month -->

    <header>
        <!-- Intro settings -->
        <style>
          /* Default height for small devices */
          #intro-example {
            height: 400px;
          }
      
          /* Height for devices larger than 992px */
          @media (min-width: 992px) {
            #intro-example {
              height: 600px;
            }
          }
        </style>
      
      
      
        <!-- Background image -->
        <div id="intro-example" class="p-5 text-center bg-image"
          style="background-image: url('https://c4.wallpaperflare.com/wallpaper/1022/45/253/motobike-heavy-1920x1080-bikes-wallpaper-preview.jpg');">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3" style=" font-family: IM FELL Great Primer SC;">E-BIKE MAKE YOUR DREAM COME TRUE </h1>
                <!-- <h5 class="mb-4">
                  Best & free guide of responsive web design
                </h5> -->
                <!-- <a class="btn btn-outline-light btn-lg m-2" href=""
                  role="button" rel="nofollow" target="_blank"></a> -->
                <a class="btn btn-outline-light btn-lg m-2" href="{% url 'user:Shop' %}"
                  target="_blank" role="button">Explore Now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>






    <!-- Start Featured Product -->
    <section class="">
        <div class="container py-5 shadow-lg p-3 mb-5 bg-body rounded mt-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1"   style="color: rgb(28, 20, 20); font-family: IM FELL Great Primer SC;" >Featured Product</h1>
                    <p>
                        <!-- Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident. -->
                    </p>
                </div>
            </div>
            <div class="row">


                {% for items in vehicles %}

                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'user:single_products' items.pk%}">
                            <img src="{{items.image.url}}" class="card-img-top  img-fluid border" alt="..." style="height: 30vh;">
                        </a>
                        <div class="card-body">
                            <!-- <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li> -->
                                <li class="text-muted text-right"></li>
                            </ul>
                            <a href="{% url 'user:single_products' items.pk%}" class="h2 text-decoration-none text-dark">{{items.vehicle_name}}</a>
                            <p class="card-text">
                              Range:  {{items.range}}
                            </p>
                            <p class="text-muted">{{items.top_speed}}Km/hr</p>
                            <p class="text-center"><a class="btn  btn-outline-secondary" style="background-color: rgb(242, 245, 246);" href="{% url 'user:single_products' items.pk%}">Explore Now</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

   
<!-- Banner Start -->
<!-- <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="{% static 'image.jpeg' %}">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-4">
                        <img class="img-fluid rounded" src="{{items.image.url}}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-black mb-3">We Sell Best Dairy Products</h2>
                        <p class="text-white mb-4">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                            justo magna dolore erat amet</p>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-4">
                        <img class="img-fluid rounded" src="{% static 'image.jpeg' %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-black mb-3">We Deliver Fresh Mild Worldwide</h2>
                        <p class="text-black mb-4">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                            justo magna dolore erat amet</p>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Banner End -->



    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">E-BIKE</h2>
                    <!-- <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">     </a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com"></a>
                        </li>
                    </ul> -->
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light"></h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h3 class="h2 text-light border-bottom pb-3 border-light">JOIN ON US</h3>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'vendor:vendor_signin'%}">Vendor Sign in</a></li>
                        <li><a class="text-decoration-none" href="{% url 'admin_signin' %}">Admin Sign in</a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li ><a class="text-decoration-none" href="{% url 'user:logout_user'%}" style="color: rgb(239, 102, 102);">LOGOUT <i class="fa-solid fa-right-from-bracket"></i></a></li>
                    </ul>
                </div>
              

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            &copy; 
                            |  <a rel="sponsored" href="https://templatemo.com" target="_blank"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div> -->

    </footer>
     {% endblock  %}
    <!-- End Footer -->

    <!-- Start Script
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script> -->



    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: "{% url 'Cartapp:cart_count' %}",
          dataType: 'json',
          success: function(response) {
            console.log(response.cart_itemscount)
            $('#count').text(response.cart_itemscount);
          }
        });
      });

    </script>
    <!-- End Script -->
</body>

</html>