
{% extends './home.html' %}


{% block content %} 




<div class="container rounded bg-light mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">

            <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://media.tenor.com/images/39a95a6f36431385abe481ea853ca633/tenor.gif" alt="img...."
                  class="rounded-circle img-fluid" >
                  <h5 class="my-3"></h5>
                  <p class="text-muted mb-1">{{users.first_name}}</p>
                  <p class="text-muted mb-4">{{users.email}}</p>
                  <!-- <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary">Follow</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                  </div> -->
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body text-center">
                 
                    <div class="list-group">
                       
                        <a href="{% url 'user:user_profile' %}" class="list-group-item list-group-item-action list-group-item-success">PROFILE</a>
                        <a href="{% url 'user:add_address' %}" class="list-group-item list-group-item-action list-group-item-success">ADD ADDRESS</a>
                        <a href="{% url 'user:view_orders' %}" class="list-group-item list-group-item-action list-group-item-success">ORDERS</a>
                        <a href="{% url 'user:forgot_password' %}" class="list-group-item list-group-item-action list-group-item-success">CHANGE PASSWORD</a>
                       
                      </div>

                </div>
              </div>
            </div>
            <!-- <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="" alt="image....."><span class="font-weight-bold">{{users.first_name}}</span><span class="text-black-50">{{users.email}}</span><span> </span></div> -->
          <div class="col-md-9">




             <div class="col-12 table shadow p-3 mb-5 bg-body rounded mt-5">
              <div class=" rounded h-100 p-4">
              
                  <h2 class="mb-4" style="color: rgb(32, 30, 30); font-family: IM FELL Great Primer SC;" >ORDERS </h2>
                  
  
                  <hr>
                  <div class="table-responsive">
                   
                      <table class="table shadow p-3 mb-5 bg-body rounded table-hover">
                          <thead >
                              <tr >
                              
                                  <th scope="col">Image</th>
                                  <th scope="col">Vehicle</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Sub Total</th>
                                
                          
                                  
                              </tr>
                          </thead>
                          <tbody c>

                            {% for items in orderd_vehicle %}
                          
                              <tr class="shadow-lg p-3 mb-5 bg-body rounded mt-5">
                                
                                  <td> <img src="{{items.vehicles.image1.url}}" class="img-fluid" style="max-width:6em;" alt=" image"></td>
                                  <td>{{items.vehicles}}</td>
                                  <td>{{items.quantity}}</td>
                                  <td>{{items.price}}</td>
                                  <td>{{items.status}}</td>
                                  <td>{{items.sub_total}}</td>
                                              
                              </tr>
                            
                              {% endfor %}
                              
                         
                          </tbody>
                      </table>
                  </div>

               
              </div>
          </div>




       






   </div>
</div>

{% endblock  %}