{% extends './home.html' %}
{% load static %}

    <!-- Close Header -->

    <!-- Modal -->


    {% block content %} 
    <style>

    </style>

    <!-- Open Content -->
    <section class="bg-white ">
        <div class="container mb-5 shadow-lg  mt-5 bg-body rounded">
            <div class="row">
                <div class="col-md-6 mt-5  ">
                   
                    <div class="card mb-3 ">
                        <div class="zoom-image" data-image="{{vehicle.image.url}}">
                        <img class="card-img img-fluid"style="height: 20em; width: 40em;" id="main_image" src="{{vehicle.image.url}}"  alt="" id="">
                    </div>
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active mb-5">
                                    <div class="row">
                                      {% for items in variants %}
                                        <div class="col-4">
                                          
                                                <img class="card-img img-fluid" style="height: 5rem; width: 8rem;" onclick="change_image(this)"  src="{{items.image1.url}}"  alt="">
                                          
                                        </div>
                                        {% endfor %}
                                        
                                        
                                    </div>
                                </div>
                               
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
                <!-- col end -->
                <div class="col-md-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <a href="#review">
                            <div class="float-end m-3">

                                <div style="color:rgb(250, 218, 7) ;" class="rating">
                                    {% if vehicle.reviews >= 1 %}
                                    <i  class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                                    {% if vehicle.reviews >= 2 %}
                                    <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                                    {% if vehicle.reviews >= 3 %}
                                    <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                                    {% if vehicle.reviews >= 4 %}
                                    <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                                    {% if vehicle.reviews >= 5 %}
                                    <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                                    
                                    <span style="color:black">( {{ vehicle.reviews }}/5) &nbsp;({{vehicle.review_count}} reviews)</span> 
                                </div>

                            </div>
                        </a>
                           
                            
                            <h1 class="h2">{{vehicle.vehicle_name}}</h1>
                            <p class="h3 py-2"></p>
        
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Category:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{vehicle.category}}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Speed :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{vehicle.top_speed}}Km/hr</strong></p>
                                </li> <br>
                                <li class="list-inline-item">
                                    <h6>Range :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{vehicle.range}}</strong></p>
                                </li> <br>
                                <li class="list-inline-item">
                                    <h6>Available Colors</h6>
                                </li>
                                <div class="row pb-3">
                                   <div class="mb-4 d-flex">
                                    <div class="d-flex  "> 
                                    {% for items in all_variants %}
                                 <a href="{% url 'user:variant_detail' items.pk %}"><div class="m-2 rounded-5 " style="width: 2.5em; height: 2em; background-color: {{items.color}} ;"></div></a>
                                    {% endfor %}
                                   </div>
                                </div>
                                    <div class=>
                                        <button type="submit" class="btn btn-outline-secondary btn-sm " name="submit" value="addtocard"><a href="#varients" style="text-decoration: none; color: rgb(98, 98, 90);">VIEW VARIENTS</a></button>
                                    </div>
                                </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
   



{% if review_first %}

<!-- Carousel wrapper -->
<div class="container-fluid mt-5 mb-5 text-center" id="review">
    <h1 style="color: rgb(32, 30, 30); font-family: Times New Roman, serif; " >Reviews</h1>
<div id="carouselExampleControls" class="carousel slide text-center carousel-dark mt-5 mb-5" data-mdb-ride="carousel">
  
    <div class="carousel-inner">
    
        <div class="carousel-item active" data-bs-interval="3000">
            {% if review_first.user.DP %}
            <img class="rounded-circle shadow-1-strong mb-4"
              src="{{ review_first.user.DP.url }}" alt="avatar"
              style="width: 150px; height: 150px;" />
              {% else %}
              <img class="rounded-circle shadow-1-strong mb-4"
              src="https://cdn1.iconfinder.com/data/icons/technology-devices-2/100/Profile-512.png" alt="avatar"
              style="width: 150px; height: 150px;" />
              {% endif %}
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0 mt-2">
                <div style="color:gold ;" class="rating">
                    {% if review_first.rating >= 1 %}
                    <i  class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                    {% if review_first.rating >= 2 %}
                    <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                    {% if review_first.rating >= 3 %}
                    <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                    {% if review_first.rating >= 4 %}
                    <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                    {% if review_first.rating >= 5 %}
                    <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                    {% if review_first.rating %}
                    <span style="color:black">( {{ review_first.rating }}/5)</span> {% endif %}
                </div>
              </ul>
            
            <div class="row d-flex justify-content-center mt-3">
              <div class="col-lg-8">
                <h5 class="mb-3">{{review_first.user.first_name}} {{review_first.user.last_name}}</h5>
                <p> {{review_first.subject}}</p>
                <p class="text-muted" style="font-family: Comic Sans MS, cursive;">
                 
                  {{review_first.review}}
                 
                </p>
                <p> {{review_first.created_date}}</p>
              
              </div>
            </div>
        
          </div>
        
     

        {% for i in review %}

      <div class="carousel-item " data-bs-interval="3000">
        {% if i.user.DP %}
            <img class="rounded-circle shadow-1-strong mb-4"
              src="{{ i.user.DP.url }}" alt="avatar"
              style="width: 150px; height: 150px;" />
              {% else %}
              <img class="rounded-circle shadow-1-strong mb-4"
              src="https://cdn1.iconfinder.com/data/icons/technology-devices-2/100/Profile-512.png" alt="avatar"
              style="width: 150px; height: 150px;" />
              {% endif %}

           

          <ul class="list-unstyled d-flex justify-content-center text-warning mb-0 mt-2">
            <div style="color:gold ;" class="rating">
                {% if i.rating >= 1 %}
                <i  class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                {% if i.rating >= 2 %}
                <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                {% if i.rating >= 3 %}
                <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                {% if i.rating >= 4 %}
                <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                {% if i.rating >= 5 %}
                <i class="fa fa-star"></i>{% else %}<i style="color:grey" class="fa fa-star"></i>{% endif %}
                {% if i.rating %}
                <span style="color:black">( {{ i.rating }}/5)</span> {% endif %}
            </div>

          </ul>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h5 class="mb-3">{{i.user.first_name}} {{i.user.last_name}}</h5>
            <p>{{ i.subject }}</p>
            <p class="text-muted" style="font-family: Comic Sans MS, cursive;">
              <i class="fas fa-quote-left pe-2"></i>
              {{ i.review }}
            
            </p>
            <p> {{i.created_date}}</p>
          </div>
        </div>
    
      </div>
     {% endfor %}
     
    </div>


    <button class="carousel-control-prev" type="button" data-bS-target="#carouselExampleControls"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
  {% endif %}

      </div>
    

    <!-- Start Article -->
    <section class="bg-white   " id ='varients'>
        <div class="container  shadow-lg  mb-5 bg-body rounded">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1" style="color: rgb(32, 30, 30); font-family: IM FELL Great Primer SC;" >Varients</h1>
                    <p>
                        <!-- Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident. -->
                    </p>
                </div>
            </div>
            <div class="row">

                {% for items in all_variants %}

                <div class="col-12 col-md-4 mb-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <div>
                                <img class="card-img rounded-0 img-fluid" style="height: 15em;"  src="{{items.image1.url}}" >

                            </div>
                            
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                  
                                    <li><a class="btn btn-success text-white mt-2" href="{% url 'user:variant_detail' items.pk %}"><i class="far fa-eye"></i></a></li>
                                    {% if items.remaining != 0 %}
                                    <li><a class="btn btn-success text-white mt-2" href="{% url 'Cartapp:add_to_cart' items.id %}"><i class="fas fa-cart-plus"></i></a></li>
                                    {% endif %}
                                </ul>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{items.vehicle_id.vehicle_name}}</h5> <br>
                            <p class="card-text">Color:{{items.color}}</p>

                            {% if items.remaining == 0 %}
                            
                               <p style="color: red  ; font-weight: 400 !important; font-size: small;">OUT OF STOCK</p>
                               {% else%}
                           
                            <p class="card-text" style="font-weight: 400 !important; font-size: small;">IN STOCK </p>
                            {% endif %}
                            <p class="card-text">Price: {{items.price}}/rs</p>
                          
                            <p class="text-center mb-0"></p>
                            <p class="text-center"><a class="btn   btn-outline-warning "  href="{% url 'user:variant_detail' items.pk %}">Explore Now</a></p>
                        </div>
                    </div>         
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


   
    <!-- End Article -->

    


    <!-- footer start -->

    <!-- <footer class="bg-dark" id="tempaltemo_footer">
        <div class="">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">E-BIKE</h2>
                 
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light"></h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h3 class="h2 text-light border-bottom pb-3 border-light">JOIN ON US</h3>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'vendor:vendor_register'%}">Become a  Vendor</a></li>
                       
                        <li ><a class="text-decoration-none" href="{% url 'user:logout_user'%}" style="color: rgb(239, 102, 102);">LOGOUT <i class="fa-solid fa-right-from-bracket"></i></a></li>
                    </ul>
                </div>
              

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>

    

    </footer> -->






<script>
    function change_image(image_data){
        document.getElementById('main_image').src = image_data.src
    }

   
      document.addEventListener("DOMContentLoaded", function(event) {
        });
            jQuery(document).ready(function ($) {
              $('.zoom-image img').click(function (event) {
                var ix = $(this).offset().left;
                var iy = $(this).offset().top;
                console.log(ix + '-' + iy);
                var mx = event.pageX;
                var my = event.pageY;
                console.log(mx + '-' + my);
              })
              $('.zoom-image img').hover(function () {
                var img = $(this).attr('src');
              $(this).after("<div class='hover-image' style='background-image: url(" + img + "); background-size: 300px;'></div>");
              $(this).mousemove(function (event) {
              // Mouse Position
                var mx = event.pageX;
                var my = event.pageY;
              // Image Position
                var ix = $(this).offset().left;
                var iy = $(this).offset().top;
              // Mouse Position Relavtive to Image
                var x = mx - (ix);
                var y = my - (iy);
              // Image Height and Width
                var w = $(this).width();
                var h = $(this).height();
              // Mouse Position Relative to Image, in %
                var xp = (-x / w) * -100;
                var yp = (-y / h) * -100;
              $(this).parent().find('.hover-image').attr('style',
                "background-image: url(" + img + "); background-size: 1000px; background-repeat: no-repeat; background-position: " + xp + "% " + yp + "%; top: " + y + "px; left: " + x + "px;");
            });
          }, function () {
        $(this).parent().find('.hover-image').remove();
      });
    });
    
    </script>
    
    
    {% endblock  %}

  
  