{% extends 'user_temp/home.html' %}


{% block content %} 


<div class="container mb-5 section3 mt-5 ">
    <main>
        <div class="py-5 text-center">
            <h2></h2>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-black">Your Address</span>
                    <span class="badge bg-primary rounded-pill"></span>
                </h4>
                
                    {% for adress in address %}
                    <ul class="list-group mb-3 section3"></ul>
                    <li class="list-group-item d-flex justify-content-between  section3">
                       
                        <div class="form-check ">
                            <!-- <input type="checkbox" class="form-check-input" name="" id="same-address">
                            <label class="form-check-label" for="same-address"> -->
                                
                            {{adress.first_name}}{{adress.last_name}} <br>
                             {{adress.email}} ,<br>
                             {{adress.addressline1}},
                             {{adress.addressline2}} <br>
                             {{adress.city}},
                             {{adress.state}}  <br>
                             {{adress.country}}  <br>

                            <!-- </label> -->
                           
                            <a href="{% url 'Cartapp:address_default' adress.id  %}"><button class="btn btn-outline-success" > Select</button></a>
                           
                        </div>
                    
                  
                    </li>
                </ul>
                    {% endfor %}
                
    
                 <!-- <form class="card p-2">
                    <div class="input-group">
                        <input type="checkbox" class="form-control" placeholder="Promo code">
                        <button type="submit" class="btn btn-danger">Redeem</button>
                    </div>
                </form>  -->
            </div>
            <div class="col-md-7 col-lg-8">
                <div style="color: rgb(203, 36, 36);">
                    {% for messag in messages %}
                        <h5>{{messag}}</h5>
                    {%endfor%}
                </div>
                <h4 class="mb-3">Billing address</h4>


                <form class="needs-validation" novalidate method="POST" role="form">
                    {% csrf_token  %}



                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label"></label>
                            <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First name" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
    
                        <div class="col-sm-6">
                            <label for="lastName" class="form-label"></label>
                            <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Last name" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
    
    
                        <div class="col-12">
                            <label for="email" class="form-label"> <span class="text-muted"></span></label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
    
                        <div class="col-12">
                            <label for="address" class="form-label"></label>
                            <input type="text" class="form-control" name="address1" id="address" placeholder="Address" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>
    
                        <div class="col-12">
                            <label for="address2" class="form-label"> <span class="text-muted"></span></label>
                            <input type="text" class="form-control" name="address2" id="address2" placeholder="Address 2">
                        </div>
    
                        <div class="col-md-3">

                            <label for="address2" class="form-label"><span class="text-muted"></span></label>
                            <input type="text" class="form-control" name="country" id="country" placeholder="country">


                            <!-- <label for="country" class="form-label">Country</label>
                            <select class="form-select"  name="country" id="country" required>
                                <option value="">Choose...</option>
                                <option>India</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div> -->
                        </div>
    
                        <div class="col-md-3">
                           
                            <label for="address2" class="form-label"><span class="text-muted"></span></label>
                            <input type="text" class="form-control" name="state" id="state" placeholder="state">

                        </div>

                        <div class="col-3">
                            <label for="address2" class="form-label"><span class="text-muted"></span></label>
                            <input type="text" class="form-control" name="mobile" id="address2" placeholder="mobile">
                        </div>
                        <div class="col-3">
                            <label for="address2" class="form-label"><span class="text-muted"></span></label>
                            <input type="text" class="form-control" name="city" id="city" placeholder="city">
                        </div>
    
                       
                    </div>
    
                    <!-- <hr class="my-4">
    
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
                    </div>
    
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info">
                        <label class="form-check-label" for="save-info">Save this information for next time</label>
                    </div> -->
    
                    <!-- <hr class="my-4">
    
                    <h4 class="mb-3">Payment</h4>
    
                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="debit">Debit card</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">Paytm</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">Phonepe</label>
                        </div>
                    </div>
    
                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required>
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
    
                    <hr class="my-4"> -->
    
                    <button class="w-100 btn btn-danger btn-lg mt-5 mb-5" type="submit">ADD ADDRESS</button>


                </form>
            </div>
        </div>
    </main>
</div>



{% endblock  %}