{% extends 'user_temp/home.html' %}


{% block content %} 


<style>


@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

/* #message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
} */

.message {
  font-size: 16px;
  margin-bottom: 10px;
}

.message.success {
  color: rgb(0, 128, 47);
}

.message.error {
  color: red;
}
</style>


<section class="   section3 mt-5 mb-5 container ">
    <div class="container  py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="align-items-center text-center mb-2 "> <h3  style="color: rgb(32, 30, 30); font-family: 'Courier New', Courier, monospace; font-weight: 800;" >Review Your Order</h3></div>
       
        <div class="col">
  
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" ></th>

                  <th scope="col"class="h6">VEHICLE</th>
                  <th scope="col"class="h6">COLOR</th>
                  <th scope="col"class="h6">CATEGORY</th>
                  <th scope="col"class="h6">PRICE</th>
                  <th scope="col" class="h6">QUANTITY</th>
                  <th scope="col" class="h6">SUB TOTAL</th>
                </tr>
              </thead>
              <tbody>

                  {% for items in cart_items %}

               
                  <tr>
                    <th scope="row">
                      <div class="d-flex align-items-center">
                        <img src="{{items.product.image1.url}}" class="img-fluid rounded-3"
                          style="width: 5vw;" alt="img">
                        <div class="flex-column ms-4">
                          <p class="mb-2"></p>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle">
                      <h6 class="mb-0" style="font-weight: 300;">{{items.product}}</h6>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0" style="font-weight: 300;">{{items.product.color}}</h6>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0" style="font-weight: 300;">{{items.product.vehicle_id.category}}</h6>
                      
                    </td>
  
                    <td class="align-middle">
                      <h6 class="mb-0" style="font-weight: 300;">{{items.product.price}}</h6>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0" style="font-weight: 300;">{{items.quantity}}</h6>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0" style="font-weight: 300;">{{items.sub_total}}</h6>
                    </td>
                  </tr>
                {% endfor  %}
              </tbody>
            </table>
          </div>
  
          <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
            <div class="card-body p-4">
  
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">


                 
                      

                  
                  
                     
                
                  <div id="coupon-form-container" style="display: none;">
                    <div id="message" class="message"></div>
                    <div class="form-outline">
                      <form id="coupon-form">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" name="coupon_code" id="coupon-code" placeholder="Coupon code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <span class="input-group-text" id="basic-addon2">
                            <button type="submit" id="apply-coupon" style="border: none;">Apply Coupon</button>
                          </span>
                         
                        </div>
                      </form>
                    </div>
                   
                   
                        <button class="btn btn-outline-danger" id="cancel-coupon-btn" type="button" onclick="cancelCoupon()" style="display: none;">Cancel Coupon</button>
                    
                  </div>
                  
                    
               


          
                  <form class="mt-2">


                    <div class="d-flex flex-row pb-3">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" onclick="proceed_cod()" name="radioNoLabel" id="radioNoLabel1v"
                          value="" aria-label="..."  />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                         Cash On Delivery
                          
                        </p>
                      </div>
                    </div>

                    <div class="d-flex flex-row pb-3">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" onclick="proceed_razor()"  name="radioNoLabel" id="radioNoLabel2v"
                          value="" aria-label="..." />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                         Razor pay
                        </p>
                      </div>
                      
                    </div>
                    
                  </form>

                  <div style=" color:rgb(233, 120, 13)">
                    {% for message in messages  %}
                       <span> {{message}}</span>
                        {% endfor %}
                      </div>
                
                 
                </div>
                <div class="col-md-6 col-lg-4 col-xl-6  mt-2">
                 

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Total Items : {{cart_itemscount}} </h6>
                          <h5 class="card-title">ADDRESS</h5>
                          <p class="card-text">{{address.first_name}}{{address.last_name}} </p>
                          <p class="card-text">{{address.email}},<br>{{address.mobile}},<br>{{address.addressline1}},{{address.addressline2}},<br>{{address.city}},{{address.state}} <br>{{address.country}}</p>
                         
                          
                        
                        </div>
                      </div>


                </div>
                <div class="col-lg-4 col-xl-3 mt-3" id="my-data">
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-2">Total</p>
                    <p class="mb-2" id="total">{{total}}</p>
                  </div>
  
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-0">TAX</p>
                    <p class="mb-0" id="tax">{{tax}}</p>
                  </div>
                 
                 
                  <div class="d-flex justify-content-between"  id="discount-div"  style="font-weight: 500; display: none !important;" >
                    <p class="mb-0">Discount</p>
                    <p class="mb-0" id="reduction">{{reduction}}</p>
                  </div>
                 
                 
                  
  
                  <hr class="my-4">
  
                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Grand Total</p>
                    <p class="mb-2" id="grand-total">{{grand_total}}</p>
                  </div>
  
                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Booking Price</p>
                    <p class="mb-2" id="booking-price">{{booking_price}}</p>
                  </div>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Balance</p>
                    <p class="mb-2" id="balance">{{balance}}</p>
                  </div>
  
                  
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'Orders:Book_now'%}" style="text-decoration: none; color: white;  "> <button type="submit" id ="COD_BTN" style="display: none;"  class="btn btn btn-outline-success btn-lg">PLACE ORDER</button></a>
                    </div>
                    <di
                    v class="d-flex justify-content-between">
                      <button type="submit" class="btn btn btn-outline-success btn-lg" style="display: none;" id="rzp-button1"   >PAY</button>
                    </div>
                  
  
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>


  
  

  
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_iDaGh3N8pyOuDO", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "E_BIKE",
    "description": "Purchase",
    "image": "https://www.clipartmax.com/png/middle/126-1263137_mountain-bike-logos-keep-calm-and-ride-a-bike.png",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "prefill": {
        "email": "{{request.user}}",
        "contact": "{{address.mobile}}"
    },
    // "handler": function (response){

    //  window.location.href =`http://127.0.0.1:8000/orders/order_success?razorpay_payment_id=${response.razorpay_payment_id}&razorpay_order_id=${response.razorpay_order_id}`

    // alert(response.razorpay_payment_id);
    // alert(response.razorpay_order_id);
    // alert(response.razorpay_signature)},
    
    "callback_url": "http://127.0.0.1:8000/orders/handlerrequest",
    // "callback_url": "https://www.ebikesforu.shop/orders/handlerrequest",
   
    
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
    alert(response.error.code);
    alert(response.error.description);
    alert(response.error.source);
    alert(response.error.step);
    alert(response.error.reason);
    alert(response.error.metadata.order_id);
    alert(response.error.metadata.payment_id);
});




document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>


<script>
  function proceed_razor(){
    document.getElementById('rzp-button1').style.display = 'block'
    document.getElementById('coupon-form-container').style.display = 'block'
    document.getElementById('COD_BTN').style.display = 'none'

  }
  function proceed_cod(){
    document.getElementById('COD_BTN').style.display = 'block'
    document.getElementById('rzp-button1').style.display = 'none'
    document.getElementById('coupon-form-container').style.display = 'none'
    
  }
  
</script>


<script>
    var originalValues = {
    total: $('#total').text(),
    tax: $('#tax').text(),
    discount: $('#reduction').text(),
    grandtotal: $('#grand-total').text(),
    booking_price: $('#booking-price').text(),
    balance: $('#balance').text()
    };


   $(document).ready(function() {
  

   
    console.log('hjhgjhg')

  
    $('#coupon-form').submit(function(event) {
      
      event.preventDefault();
      var couponCode = $('#coupon-code').val();
      var total = $('#total').text();
      var tax = $('#tax').text();
      var discount = $('#reduction').text();
      var grandtotal = $('#grand-total').text();
      var booking_price = $('#booking-price').text();
      var balance = $('#balance').text();
    

      console.log(couponCode)
      console.log('jbkjk')
      console.log(couponCode);
      console.log(total);
      console.log(tax);
      console.log(discount);
      console.log(grandtotal);
      console.log(booking_price);
      console.log(balance);
      
      $.ajax({
        url: 'coupon_apply',
        type: 'POST',
        data: {
        'coupon_code': couponCode,
        'total':total,
        'tax':tax,
        'discount':discount,
        'grandtotal':grandtotal,
        'booking_price':booking_price,
        'balance':balance,
       
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        },
        dataType: 'json',
        success: function(response) {
          if (response['status'] == 'success') {
            console.log(response)
         
            $('#total').text(response['total']);
            $('#tax').text(response['tax']);
            $('#reduction').text(response['discount']);
            $('#grand-total').text(response['grand_total']);
            $('#booking-price').text(response['booking_price']);
            $('#balance').text(response['balance']);
            $('#message').removeClass('error').addClass('success').text(response['message']);
            $('#coupon-form').hide();
            $('#cancel-coupon-btn').show();
            $('#discount-div').show();
            
            $('#message').removeClass('error').addClass('success').text(response['message']);
          } else {
            $('#message').removeClass('success').addClass('error').text(response['message']);
          }
        },
        error: function(response) {
          
          
          $('#message').removeClass('success').addClass('error').text('An error occurred. Please try again later.');
        }
      });
    });
  });

  function cancelCoupon() {
  



  $.ajax({
    url: 'cancel_coupon',
    type: 'POST',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    success: function(response) {
    if (response['status'] == 'success') {
      
      $('#message').removeClass('success').addClass('error').text(response['message']);
      $('#coupon-form').show();
      $('#cancel-coupon-btn').hide();
      $('#total').text(originalValues.total);
    $('#tax').text(originalValues.tax);
    $('#reduction').text(originalValues.discount);
    $('#grand-total').text(originalValues.grandtotal);
    $('#booking-price').text(originalValues.booking_price);
    $('#balance').text(originalValues.balance);
    
    } 
    
  },
  error: function(response) {
    $('#message').removeClass('success').addClass('error').text('An error occurred. Please try again later.');
  }
  });
}

  </script>
  

{% endblock  %}