{% extends 'user_temp\home.html' %}


{% block content %} 


<style>


@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
</style>


<section class="h-100 h-custom">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
  
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5">Review  Your order</th>

                  <th scope="col">Vehicle</th>
                  <th scope="col">Category</th>
                  <th scope="col">price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Sub Total</th>
                </tr>
              </thead>
              <tbody>

                  {% for items in cart_items %}

                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <img src="{{items.product.image1.url}}" class="img-fluid rounded-3"
                        style="width: 120px;" alt="Book">
                      <div class="flex-column ms-4">
                        <p class="mb-2"></p>
                        <p class="mb-0"></p>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">{{items.product}}</p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">{{items.product.vehicle_id.category}}</p>
                    
                  </td>

                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">{{items.product.price}}</p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">{{items.quantity}}</p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">{{items.sub_total}}</p>
                  </td>
                </tr>
                {% endfor  %}
              </tbody>
            </table>
          </div>
  
          <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
            <div class="card-body p-4">
  
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                  <form>


                    <div class="d-flex flex-row pb-3">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" onclick="proceed_cod()" name="radioNoLabel" id="radioNoLabel1v"
                          value="" aria-label="..."  />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                         Cash On Delivery
                          
                        </p>
                      </div>
                    </div>



                    <div class="d-flex flex-row pb-3">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" onclick="proceed_razor()"  name="radioNoLabel" id="radioNoLabel2v"
                          value="" aria-label="..." />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                         Razor pay
                        </p>
                      </div>
                    </div>
                    
                  </form>


                  <div class="mt-5">
                    {% if 'coupon_code' not in request.session %}
                    <div class="form-outline">
                      <form action="{% url 'Cartapp:coupon_apply'%}" method="POST">
                              {% csrf_token  %}
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" name="Coupon_Code" placeholder="Coupon code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <span class="input-group-text" id="basic-addon2"><a href="" style="text-decoration: none; color: black;"><button type="submit" style="border: none;">Apply Coupon</button></a></span>
                        </div>
                          <div style=" color:rgb(233, 120, 13)">
                        {% for message in messages  %}
                           <span> {{message}}</span>
                            {% endfor %}
                          </div>
                      </form>
                     
                    </div>
                    {% else %}
                    <div class="d-flex flex-row pb-3">
                      
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center justify-content-around mb-0" style="color: green;">
                         Coupon Applyed 
                        <a href="{% url 'Cartapp:cancel_coupon'%}" style="text-decoration: none; color: white;"> <button type="submit" class="btn btn btn-outline-danger btn-sm">CANCEL</button></a>
                      </p>
                      <div style=" color:green">
                        {% for message in messages  %}
                           <span> {{message}}</span>
                            {% endfor %}
                          </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                 
                </div>
                <div class="col-md-6 col-lg-4 col-xl-6">
                 

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Items : {{cart_itemscount}} </h5>
                          <h5 class="card-title">ADDRESS</h5>
                          <p class="card-text">{{address.first_name}}{{address.last_name}} </p>
                          <p class="card-text">{{address.email}},<br>{{address.mobile}},<br>{{address.addressline1}},{{address.addressline2}},<br>{{address.city}},{{address.state}} <br>{{address.country}}</p>
                         
                          
                        
                        </div>
                      </div>


                </div>
                <div class="col-lg-4 col-xl-3">
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-2">Total</p>
                    <p class="mb-2">{{total}}</p>
                  </div>
  
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-0">TAX</p>
                    <p class="mb-0">{{tax}}</p>
                  </div>
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-0">Discount</p>
                    <p class="mb-0">{{reduction}}</p>
                  </div>
                  
  
                  <hr class="my-4">
  
                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Grand Total</p>
                    <p class="mb-2">{{grand_total}}</p>
                  </div>
  
                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Booking Price</p>
                    <p class="mb-2">{{booking_price}}</p>
                  </div>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Balance</p>
                    <p class="mb-2">{{balance}}</p>
                  </div>
  
                  
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'Orders:Book_now'%}" style="text-decoration: none; color: white;  "> <button type="submit" id ="COD_BTN" style="display: none;"  class="btn btn btn-outline-success btn-lg">PLACE ORDER</button></a>
                    </div>
                    <div class="d-flex justify-content-between">
                      <button type="submit" class="btn btn btn-outline-success btn-lg" style="display: none;" id="rzp-button1"   >PAY</button>
                    </div>
                  
  
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>


  
  

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


 
<script>
var options = {
    "key": "rzp_test_iDaGh3N8pyOuDO", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "E_BIKE",
    "description": "Purchase",
    "image": "https://example.com/your_logo",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "prefill": {
        "email": "{{request.user}}",
        "contact": "{{address.mobile}}"
    },
    // "handler": function (response){

    //  window.location.href =`http://127.0.0.1:8000/orders/order_success?razorpay_payment_id=${response.razorpay_payment_id}&razorpay_order_id=${response.razorpay_order_id}`

    // alert(response.razorpay_payment_id);
    // alert(response.razorpay_order_id);
    // alert(response.razorpay_signature)},
    
    "callback_url": "http://127.0.0.1:8000/orders/handlerrequest",
   
    
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>


<script>
  function proceed_razor(){
    document.getElementById('rzp-button1').style.display = 'block'
    document.getElementById('COD_BTN').style.display = 'none'
  }
  function proceed_cod(){
    document.getElementById('COD_BTN').style.display = 'block'
    document.getElementById('rzp-button1').style.display = 'none'
    
  }
</script>
{% endblock  %}